<%- include("partials/_header") -%>

<div class="container">
  <br><br>

  <br>

  <div class="box">
    <div class="box-container">
      <!-- <center> -->
      <% if (session.userid) { %>
      <form class="menu-user" action="/updateuser" method="post">
        <div class="sd-box">
          <div class="profile-menu-user">
            <% if (session.userid) { %>
            <div class="img-box">
              <img src="uploads/<%= session.image %>" alt="">
            </div>
            <span>
              <p>my Profile ..</p>
              <hr>
              <p>Name : <input class="form-edit" name="name" value="<%= session.name %>"></p>
              <p>userID : <label>@<%= session.userid %></label></p>
              <p>Phone : <input class="form-edit" name="phone" value="<%= session.phone %>"></p>
              <span>
                <button class="edit" type="submit">ยืนยัน</button>
                <a class="delete" href="/">ยกเลิก</a>
              </span>
            </span>

            <% } else { %>
            <a href="#" onclick="openScreenLogin()">เข้าสู่ระบบก่อน</a>
            <% } %>
          </div>
        </div>
	</form>
      <% } %>
      <% if (session.userid) {%>
      <div class="content">
        <% } else { %>
        <div class="content" style="width: 100%;">
          <% } %>
          <div class="sd-box">
            <div class="header-post">
              <h2>Post ..
                <% if (session.userid) {%>
                <label class="content-label">
                  <a class="edit" href="#" onclick="openScreenPost()"><i class="fa-solid fa-plus"></i>
                    create
                    post!
                  </a>
                </label>
                <% } else { %>
                <label class="content-label">
                  <a class="edit" href="#" onclick="openScreenLogin()"><i class="fa-solid fa-plus"></i>
                    create
                    post!
                  </a>
                </label>
                <% } %>
              </h2>
            </div>
            <% post.forEach((post, index) => { %>
            <div class="post-content-user">
              <div class="profile-user">
                <div class="img-div">
                  <img src="uploads/<%= post.image %>" alt="">
                </div>
                <span>
                  <p><%= post.name %> <label class="content-label"><%= post.postdate %></label>
                  </p>
                  <p class="post-title">
                    Title : <%= post.title %>
                    <% if (session.userid == post.username) { %>
                    <!-- <label class="content-label">
                      <a class="edit" href="">แก้ไข</a>
                      <a class="delete" href="">ลบ</a>
                    </label> -->
                    <% } %>
                  </p>
                  <p class="post-detail">
                    <%= post.detail %>
                  </p>
                </span>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
        <!-- </center> -->
      </div>
    </div>

  </div>

  <%- include("partials/_footer") -%>